
#container{
  display: flex;
  flex-direction: row;
background-color: gray;
flex-wrap: wrap;
justify-content: center;
}


.row {
  width:200px;
  height: 300px;
  background-color: red;
  margin: 4px;
  border-radius: 20px;

}

#main{
  background-color: yellow;
display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

}


body{
	font-family: helvetica;
}


#header{
margin: -6px 0px 28px 0px;
width: 800px;
height: 80px;
background-color: #8C9C9A;
color: white;
justify-content: space-between;


}

#login{
  margin: 5px;
}

#signup{
  margin: 5px;
}


.friendProfilePicture img{
  width: 100px;
}

#conversation{
  justify-content: center;
  background-color: blue;

}
